/*
edit.css 2020.07.10 作成
*/
@media print {
	header, a, .tab_content {
		display: none;
	}
    #result_table {
        display: block;
    }
	table {
		display			:	table-cell;
		vertical-align	:	top;
		float			:	none;
		position		:	static;
	}
	tr .td-top {
		display			:	table-cell;
		float			:	none;
		break-before	:	always	!important;
	}
}
a {
	text-decoration: none;
}
body {
	*font-family: monospace,Courier,Consolas,'Courier New';
	font-family: "Meiryo UI","メイリオ";
	*font-family: Consolas;
}
.tab_content {
	display: none;
}
.tab_content:target {
	display: block;
}
.content {
}
#msg {
	padding: 3px;
}
main {
	padding: 3px 10px;
}
input {
	font-size	: 100%;
	font-family: "Meiryo UI","メイリオ";
}
input[name="load"] {
	cursor: pointer;
	*font-family: FontAwesome;
	*border: none;
	*border	:	solid thin #3879D9;
	border-color	:	#3879D9;
	background: #3879D9;
	color: #fff;
  *position: absolute;
  *width: 3.5em;
  *height: 3.0em;
  *right:0px;
  *top: -5px;
	*outline : none;
}
input[name="load"]:hover {
	*border		:	solid thin #3879D9;
	*border-color	:	solid thin #3879D9;
	background	:	yellow;
	color		:	#3879D9;
}

input[name="post"] {
	width	: 3em	;
}
input[name="month"] {
	*width	: 10em	;
	font-size	: 105%;
}
input[name="filter"] {
	*width	: 10em	;
}
input[name="edit"] {
	display: none;
}
input[name="copy0"] {
	color : blue;
	background-color: white;
	border-color: blue;
}
input[name="copy0"]:hover {
	background-color: yellow;
}
input[name="copy"] {
	display: none;
}
input[name="print"] {
	color : blue;
	background-color: white;
	border-color: blue;
}
input[name="print"]:hover {
	background-color: yellow;
}
table {
	border: solid thin black;
	border-collapse: collapse;
	*width:100%;
}
table tr th {
	/* [上][右][下][左] */
	padding:2px 3px;
	font-weight: normal;
	border: solid thin black;
	background-color: aliceblue;
	white-space: nowrap;
}
table tr td {
	/* [上][右][下][左] */
	padding:2px 3px;
	border: solid thin black;
	vertical-align: center;
	white-space: nowrap;
}
#list tr:hover {
	background-color: aquamarine;
}
.text {
	text-align: left;
	white-space: normal;
}
.number {
	text-align: right;
}
.red {
	color: red;
}
.center {
	text-align: center;
}
.gif-load {
	background-image:url("images/loading1.gif?v=2020032501");
	background-repeat: no-repeat;
	background-position: center center;
	*background-size: contain;
	background-size: cover;
}
.qty {
	text-align: right;
}
#option table {
	border: none;
}
#option table td {
	border: none;
}
#option table td:first-child {
	text-align: right;
}
.sticky {
	border: 0;
	border-collapse: separate;
	border-spacing: 0;
}
.sticky thead {
}
.sticky thead tr th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	border: solid thin black;
	*border-left: 0;
	*font-weight: normal;
	*padding:2px;
	*background-color: aliceblue;
	*white-space: nowrap;
	background-clip: padding-box;
}
.sticky tbody tr td {
	*border: 1;
	*border: solid thin black;
	border-top: 0;
	*border-left: 0;
	background-clip: padding-box;
}
.dt-top td {
	*border-top: medium solid blue	!important;
	*background-color: yellow;
}
.content form {
	padding: 2px 2px;
}
.hour {
	text-align: right;
}
.modify {
	background-color: lavenderblush;	/* pink #FFCCCC #FFD8CC */
}
.土 {
	color : blue;
}
.日 {
	color : red;
}
.holiday {
	color : red;
}
.input-sm {
	*width		: 3em	!important;
}
.Memo .input-sm {
	*width		: auto	!important;
}
td.date {
	text-align: center;
}
.BegTm ,
.FinTm {
	font-size: 80%;
}

span.edit ,
th.edit {
	background-color: #FFFFCC;
}
#list input {
	border		: solid thin black	;
	padding		: 2px 3px			;
	*font-size	: 80%				;
	width		: 3em	!important	;
}
#list .Memo input {
	width		: 6em	!important	;
}
th.PTO {
	padding:2px 4px;
	font-size: 0.7em;
	white-space: normal;
}
th.total {
	padding:2px 4px;
	font-size: 0.7em;
	background-color: #CCFFFF;
	white-space: normal;
}
.sub_total td {
	background-color: #CCFFFF;
	border-bottom: medium solid blue	!important;
}
td.total {
	text-align: right;
}
.Post,
.Shift {
	text-align: center;
}

.data_sch th {
	background: none;
}
.data_sch caption {
	text-align: left;
}

#loading {
	z-index: 100;
	display: table;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  opacity: 0.8;
}
 
#loading .loadingMsg {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  padding-top: 140px;
  background: url("images/loading1.gif?v=2020032501") center center no-repeat;
}
