/*
short.css 2020.03.19 作成
*/
@media print{
	header, a, .tab_content {
		display: none;
	}
    #result_table {
        display: block;
    }
}
a {
	text-decoration: none;
}
body {
	font-family: monospace,Courier,Consolas,'Courier New';
	*font-family: Consolas;
}
.tab_content {
	display: none;
}
.tab_content:target {
	display: block;
}
.content {
	padding: 10px;
}
table {
	border: solid thin black;
	border-collapse: collapse;
	*width:100%;
}
table tr th {
	/* [上][右][下][左] */
	padding:2px 3px;
	font-weight: normal;
	border: solid thin black;
	background-color: aliceblue;
	white-space: nowrap;
}
table tr td {
	/* [上][右][下][左] */
	padding:2px 3px;
	border: solid thin black;
	vertical-align: top;
	white-space: nowrap;
}
table caption {
	text-align: left;
	white-space: nowrap;
}
.text {
	text-align: left;
	white-space: normal;
}
.number {
	text-align: right;
}
.center {
	text-align: center;
}
.gif-load {
	background-image:url("images/loading1.gif?v=2020032501");
	background-repeat: no-repeat;
	background-position: center center;
	*background-size: contain;
	background-size: cover;
}
#result_table table tr td {
	vertical-align: top;
}
.qty {
	text-align: right;
}
.tana {
	text-align: center;
}
.id_no {
	text-align: center;
}
.pallet_no ,
.case_qty {
	text-align: center;
}
.barcode {
	font-family: "3 of 9 Barcode";
}
.pagebreak {
	*page-break-before: always;
	break-before: always;
}
div.divLeft {
	text-align: left;
	float: left;
}
div.divRight {
	text-align: right;
}
#pallet_edit {
	font-family	: 'ＭＳ ゴシック','ＭＳ ゴシック',monospace;
	font-size: 16px;
	border : none;
}
input[type=file] {
	font-size: 80%;
	padding: 0px 0px;
	width: auto;
	border: solid thin blue;
	background-color: #ccffff;
}
.uploadButton {
	position: relative;
	display: inline-block;
	margin-left: 5rem;
	*font-size: 80%;
	padding: 0px 0px;
	*overflow: hidden;
	*border: solid thin gray;
	*border-radius: 3px;
	*background: #099;
	*color: #fff;
	*text-align: center;
	*padding: 3px;
    *line-height: 30px;
	*width: 180px;
    cursor: pointer;
	border: solid thin blue;
	background-color: #F5F6CE;	/* 黄 */
}
.uploadButton:hover {
	background-color: #FFFF00;	/* 黄 */
	border: solid medium #DF0101;	/* 赤 */
}
.uploadButton div {
	display: inline-block;
	padding: 1px 0.5em;
}
.result {
	display: inline-block;
}
.uploadButton input[type=file] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor:pointer;
    opacity:0;
	pointer-events: auto;
	*z-index: 2;
}
#dbinfo {
	width: 20em;
}
#option table {
	border: none;
}
#option table td {
	border: none;
}
#option table td:first-child {
	text-align: right;
}
.sticky {
	border: 0;
	border-collapse: separate;
	border-spacing: 0;
}
.sticky thead {
}
.sticky thead tr th {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
	border: solid thin black;
	border-left: 0;
	*font-weight: normal;
	*padding:2px;
	*background-color: aliceblue;
	*white-space: nowrap;
	background-clip: padding-box;
}
table.sticky thead tr th:first-child {
	border-top: 0;
	border-bottom: 0;
	*border-right: solid thin black;
	background: 0;
	background-color: white;
	background-clip: padding-box;
}
.sticky tbody tr td {
	*border: 1;
	border-top: 0;
	border-left: 0;
	background-clip: padding-box;
}
.sticky tbody tr td:first-child {
	border-top: 0;
	border-bottom: 0;
	background: 0;
}
.content form {
	padding-left: 20px;
	padding-bottom: 5px;
}
